[Unit]
Description=UWSGI service
After=syslog.target

[Service]
ExecStart=/home/ububtu/myvenv/bin/uwsgi -i /home/ubuntu/UPCY_BE/.config/uwsgi/UPCY.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target